.page__body{
    display: flex;
    justify-content: center;

    font-size: 16px;
    line-height: 1.125;
    color: var(--basic-dark-gray);
    background: var(--basic-black);
}
.title {
    font-size: 32px;
    font-weight: bold;
}
.text {
    font-style: normal;
    font-weight: bold;
}
a {
    color: inherit;
}
