.page__body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    row-gap: 30px;

    font-size: 16px;
    line-height: 1.125;
    color: var(--basic-dark-gray);
    background: var(--basic-black);
}
.title {
    font-size: 32px;
    font-weight: bold;
}
.text {
    font-style: normal;
    font-weight: 400;
}
a {
    color: inherit;
}
